*/1 * * * * root sudo -u www-data /usr/local/bin/php -f /var/www/html/cron.php
30 23 * * * root sudo -u www-data /usr/local/bin/php /var/www/html/occ files:scan --all
0 4 * * * root /scripts/perms.sh
