*/1 * * * * root sudo -u www-data /usr/local/bin/php -f /var/www/html/cron.php
* */2 * * * root sudo -u www-data /usr/local/bin/php /var/www/html/occ files:scan --all
0 3 * * * root /scripts/perms.sh
